.item1 {
  grid-area: header;
}
.home-item1 {
  grid-area: home-item1;
}
.home-item2 {
  grid-area: home-item2;
}
.about {
  grid-area: about;
}

.portfolio {
  grid-area: portfolio;
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.p3 {
  grid-area: p3;
}

.contact {
  grid-area: contact;
}

.contact-left {
  grid-area: contact1;
}

.contact-right {
  grid-area: contact2;
}

* {
  margin: 0;
}

body {
  background-color: rgb(51, 51, 51);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "home-item1 home-item2 home-item2 "
    "about about about"
    "portfolio portfolio portfolio"
    "p1 p2 p3"
    "contact contact contact"
    "contact1 contact1 contact2";
  gap: 10px;
  background-color: rgb(51, 51, 51);
  padding: 10px;
}

.home-item1 {
  padding-left: 200px;
  padding-top: 90px;
}

.home-item2 {
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 20px 0;
  justify-content: center;
  max-width: 800px;
  padding-left: 100px;
  padding-top: 90px;
}

.home-item2 p {
  font-size: 25px;
}

.item5 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgb(51, 51, 51);
}

.navbar {
  margin-left: 100px;
  margin-right: 100px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

.navbar li {
  float: right;
  display: inline;
}

.navbar li a {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  padding: 15px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: white;
  color: rgb(51, 51, 51);
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}

img {
  max-width: 600px;
}

.about {
  color: white;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 40px;
  max-width: 1000px;
}

.about h1 {
  text-align: center;
  font-size: 50px;
}

.portfolio {
  color: white;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: auto;
}

.portfolio h1 {
  text-align: center;
  font-size: 50px;
}

.p1 {
  max-width: 450px;
  text-align: center;
  border-radius: 20px;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  margin-left: 200px;
  color: white;
}

.p1 h1 {
  font-size: 30px;
}

.p1 p {
  font-size: 20px;
  padding: 12px;
}

.p1 button {
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 12px;
}

.p2 {
  max-width: 450px;
  text-align: center;
  border-radius: 20px;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  color: white;
}

.p2 h1 {
  font-size: 30px;
}

.p2 p {
  font-size: 20px;
  padding: 12px;
}

.p2 button {
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 12px;
}

.p3 {
  max-width: 450px;
  text-align: center;
  border-radius: 20px;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;

  color: white;
}

.p3 h1 {
  font-size: 30px;
}

.p3 p {
  font-size: 20px;
  padding: 12px;
}

.p3 button {
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 12px;
}

.contact {
  margin-left: 200px;
  color: white;
  text-align: left;
  padding: 40px;
}

.contact h1 {
  font-size: 50px;
}

.contact p {
  font-size: 40px;
}

input[type="text"],
[type="email"],
textarea,
select {
  width: 95%;
  display: block;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
}

input[type="submit"] {
  width: 95%;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 14px 20px;
  margin: 8px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
}

.contact-left {
  margin-left: 240px;
  color: white;
}

.contact-right {
  flex: 35%;
  padding: 30px;
  color: white;
}

.socmed {
  display: flex;
  gap: 1rem;
}

.phone,
.mail {
  display: flex;
  gap: 2rem;
}

footer {
  display: block;
  color: white;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 15px;
}

@media only screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "home-item1 "
      "home-item2"
      "about "
      "portfolio "
      "p1"
      "p2"
      "p3"
      "contact"
      "contact1"
      "contact2";
    padding: 0px;
  }

  .home-item1 {
    padding: 100px;
  }

  .home-item2 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    justify-content: center;
    max-width: 800px;
    padding: 40px;
    margin: 0px;
  }

  .p1 {
    margin-left: 160px;
  }
  .p2 {
    margin-left: 160px;
  }
  .p3 {
    margin-left: 160px;
  }

  .contact {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
    color: white;
    text-align: center;
    padding: 0px;
  }
  .contact-left {
    margin-left: 20px;
    color: white;
  }

  .contact-right {
    flex: 35%;
    padding: 30px;
    color: white;
  }
  footer {
    width: 100%;
    justify-content: center;
  }
}
